<div>
    <h2 id="page-heading">
        <span>Ports</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-port" [routerLink]="['/port/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Port
            </span>
        </button>
    </h2>
    <hcm-alert></hcm-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ports?.length === 0">
        <span>No ports found</span>
    </div>
    <div class="table-responsive" *ngIf="ports?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Port</span></th>
            <th><span>Container</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let port of ports ;trackBy: trackId">
                <td><a [routerLink]="['/port', port.id, 'view' ]">{{port.id}}</a></td>
                <td>{{port.port}}</td>
                <td>
                    <div *ngIf="port.container">
                        <a [routerLink]="['/container', port.container?.id, 'view' ]" >{{port.container?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/port', port.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/port', port.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/port', { outlets: { popup: port.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
