<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hcm-port-heading">Create or edit a Port</h2>
            <div>
                <hcm-alert-error></hcm-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_port">Port</label>
                    <input type="text" class="form-control" name="port" id="field_port"
                           formControlName="port"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_container">Container</label>
                    <select class="form-control" id="field_container" name="container" formControlName="container">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="containerOption.id === editForm.get('container').value?.id ? editForm.get('container').value : containerOption" *ngFor="let containerOption of containers; trackBy: trackContainerById">{{containerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
