<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="port">
            <h2><span>Port</span> {{port.id}}</h2>
            <hr>
            <hcm-alert-error></hcm-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Port</span></dt>
                <dd>
                    <span>{{port.port}}</span>
                </dd>
                <dt><span>Container</span></dt>
                <dd>
                    <div *ngIf="port.container">
                        <a [routerLink]="['/container', port.container?.id, 'view']">{{port.container?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/port', port.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
