<div>
    <h2 id="page-heading">
        <span>Namespaces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-namespace" [routerLink]="['/namespace/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Namespace
            </span>
        </button>
    </h2>
    <hcm-alert></hcm-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="namespaces?.length === 0">
        <span>No namespaces found</span>
    </div>
    <div class="table-responsive" *ngIf="namespaces?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let namespace of namespaces ;trackBy: trackId">
                <td><a [routerLink]="['/namespace', namespace.id, 'view' ]">{{namespace.id}}</a></td>
                <td>{{namespace.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/namespace', namespace.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/namespace', namespace.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/namespace', { outlets: { popup: namespace.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
