<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="container">
            <h2><span>Container</span> {{container.id}}</h2>
            <hr>
            <hcm-alert-error></hcm-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image</span></dt>
                <dd>
                    <span>{{container.image}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{container.name}}</span>
                </dd>
                <dt><span>Deployment</span></dt>
                <dd>
                    <div *ngIf="container.deployment">
                        <a [routerLink]="['/deployment', container.deployment?.id, 'view']">{{container.deployment?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/container', container.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
