<div>
    <h2 id="page-heading">
        <span>Containers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-container" [routerLink]="['/container/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Container
            </span>
        </button>
    </h2>
    <hcm-alert></hcm-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="containers?.length === 0">
        <span>No containers found</span>
    </div>
    <div class="table-responsive" *ngIf="containers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image</span></th>
            <th><span>Name</span></th>
            <th><span>Deployment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let container of containers ;trackBy: trackId">
                <td><a [routerLink]="['/container', container.id, 'view' ]">{{container.id}}</a></td>
                <td>{{container.image}}</td>
                <td>{{container.name}}</td>
                <td>
                    <div *ngIf="container.deployment">
                        <a [routerLink]="['/deployment', container.deployment?.id, 'view' ]" >{{container.deployment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/container', container.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/container', container.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/container', { outlets: { popup: container.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
