<div *ngIf="audits">
    <h2 id="audits-page-heading">Audits</h2>

    <div class="row">
        <div class="col-md-5">
            <h4>Filter by date</h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">from</span>
                </div>
                <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="transition()" required/>

                <div class="input-group-append">
                    <span class="input-group-text">To</span>
                </div>
                <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="transition()" required/>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" *ngIf="audits?.length === 0">
        <span>No audit found</span>
    </div>
    <div class="table-responsive" *ngIf="audits?.length > 0">
        <table class="table table-sm table-striped">
            <thead>
            <tr hcmSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th hcmSortBy="auditEventDate"><span>Date</span><fa-icon [icon]="'sort'"></fa-icon></th>
                <th hcmSortBy="principal"><span>User</span><fa-icon [icon]="'sort'"></fa-icon></th>
                <th hcmSortBy="auditEventType"><span>State</span><fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Extra data</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let audit of audits">
                <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                <td><small>{{audit.principal}}</small></td>
                <td>{{audit.type}}</td>
                <td>
                    <span *ngIf="audit.data" ng-show="audit.data.message">{{audit.data.message}}</span>
                    <span *ngIf="audit.data" ng-show="audit.data.remoteAddress"><span>Remote Address</span> {{audit.data.remoteAddress}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="audits?.length === 0">
        <div class="row justify-content-center">
            <hcm-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></hcm-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
