<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deployment">
            <h2><span>Deployment</span> {{deployment.id}}</h2>
            <hr>
            <hcm-alert-error></hcm-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Api Version</span></dt>
                <dd>
                    <span>{{deployment.apiVersion}}</span>
                </dd>
                <dt><span>Kind</span></dt>
                <dd>
                    <span>{{deployment.kind}}</span>
                </dd>
                <dt><span>Metadata Name</span></dt>
                <dd>
                    <span>{{deployment.metadataName}}</span>
                </dd>
                <dt><span>Label Key</span></dt>
                <dd>
                    <span>{{deployment.labelKey}}</span>
                </dd>
                <dt><span>Label Value</span></dt>
                <dd>
                    <span>{{deployment.labelValue}}</span>
                </dd>
                <dt><span>Replica</span></dt>
                <dd>
                    <span>{{deployment.replica}}</span>
                </dd>
                <dt><span>Namespace</span></dt>
                <dd>
                    <div *ngIf="deployment.namespace">
                        <a [routerLink]="['/namespace', deployment.namespace?.id, 'view']">{{deployment.namespace?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deployment', deployment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
