<div>
    <h2 id="page-heading">
        <span>Deployments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deployment" [routerLink]="['/deployment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Deployment
            </span>
        </button>
    </h2>
    <hcm-alert></hcm-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="deployments?.length === 0">
        <span>No deployments found</span>
    </div>
    <div class="table-responsive" *ngIf="deployments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Api Version</span></th>
            <th><span>Kind</span></th>
            <th><span>Metadata Name</span></th>
            <th><span>Label Key</span></th>
            <th><span>Label Value</span></th>
            <th><span>Replica</span></th>
            <th><span>Namespace</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deployment of deployments ;trackBy: trackId">
                <td><a [routerLink]="['/deployment', deployment.id, 'view' ]">{{deployment.id}}</a></td>
                <td>{{deployment.apiVersion}}</td>
                <td>{{deployment.kind}}</td>
                <td>{{deployment.metadataName}}</td>
                <td>{{deployment.labelKey}}</td>
                <td>{{deployment.labelValue}}</td>
                <td>{{deployment.replica}}</td>
                <td>
                    <div *ngIf="deployment.namespace">
                        <a [routerLink]="['/namespace', deployment.namespace?.id, 'view' ]" >{{deployment.namespace?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/deployment', deployment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/deployment', deployment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/deployment', { outlets: { popup: deployment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
