<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="hcm-deployment-heading">Create or edit a Deployment</h2>
            <div>
                <hcm-alert-error></hcm-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_apiVersion">Api Version</label>
                    <input type="text" class="form-control" name="apiVersion" id="field_apiVersion"
                           formControlName="apiVersion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kind">Kind</label>
                    <input type="text" class="form-control" name="kind" id="field_kind"
                           formControlName="kind"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_metadataName">Metadata Name</label>
                    <input type="text" class="form-control" name="metadataName" id="field_metadataName"
                           formControlName="metadataName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_labelKey">Label Key</label>
                    <input type="text" class="form-control" name="labelKey" id="field_labelKey"
                           formControlName="labelKey"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_labelValue">Label Value</label>
                    <input type="text" class="form-control" name="labelValue" id="field_labelValue"
                           formControlName="labelValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_replica">Replica</label>
                    <input type="number" class="form-control" name="replica" id="field_replica"
                           formControlName="replica"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_namespace">Namespace</label>
                    <select class="form-control" id="field_namespace" name="namespace" formControlName="namespace">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="namespaceOption.id === editForm.get('namespace').value?.id ? editForm.get('namespace').value : namespaceOption" *ngFor="let namespaceOption of namespaces; trackBy: trackNamespaceById">{{namespaceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
